Feature Transformation

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

Data reading and preprocessing

In [ ]:
df= pd.read_csv("diabetes.csv")
df.head(10)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1
5            5      116             74  ...                     0.201   30        0
6            3       78             50  ...                     0.248   26        1
7           10      115              0  ...                     0.134   29        0
8            2      197             70  ...                     0.158   53        1
9            8      125             96  ...                     0.232   54        1

[10 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
df.shape

(768, 9)

In [ ]:
names=['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
dataframe=pd.read_csv('diabetes.csv', names=names)
dataframe

            preg     plas  ...  age    class
0    Pregnancies  Glucose  ...  Age  Outcome
1              6      148  ...   50        1
2              1       85  ...   31        0
3              8      183  ...   32        1
4              1       89  ...   21        0
..           ...      ...  ...  ...      ...
764           10      101  ...   63        0
765            2      122  ...   27        0
766            5      121  ...   30        0
767            1      126  ...   47        1
768            1       93  ...   23        0

[769 rows x 9 columns]

In [ ]:
#splitting X and Y target
array =dataframe.values
X = array[1:769, 0:8]
Y = array[1:769,8]

**LOGISTIC REGRESSION**

In [ ]:
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:

x_train, x_test, y_train, y_test = train_test_split(X,Y, train_size =0.9, random_state = 42)

Feature scaling using PCA

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.fit_transform(x_test)

In [ ]:
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDM

In [ ]:
pca = PCA(n_components = 2)

In [ ]:
x_train = pca.fit_transform(x_train)
x_test = pca.fit_transform(x_test)
#x_test = lda.fit_transform(x_test,y_test)

In [ ]:
model = LogisticRegression(fit_intercept= False)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [ ]:
y_pred

array(['0', '0', '1', '1', '1', '0', '1', '1', '0', '1', '1', '1', '0',
       '0', '1', '0', '1', '1', '1', '0', '1', '0', '1', '0', '1', '0',
       '1', '1', '0', '1', '0', '1', '0', '0', '0', '0', '0', '0', '1',
       '0', '1', '1', '1', '1', '1', '0', '0', '0', '1', '0', '1', '0',
       '0', '1', '0', '1', '1', '1', '0', '1', '1', '0', '1', '1', '0',
       '0', '1', '0', '1', '0', '0', '1', '1', '0', '1', '1', '1'],
      dtype=object)

In [ ]:
y_test

array(['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '1',
       '0', '0', '1', '0', '0', '1', '1', '0', '0', '0', '0', '0', '1',
       '0', '0', '1', '0', '1', '1', '1', '1', '0', '1', '1', '1', '0',
       '1', '0', '0', '0', '1', '0', '1', '1', '0', '0', '0', '0', '1',
       '1', '1', '0', '0', '0', '0', '0', '1', '1', '0', '0', '1', '0',
       '0', '0', '1', '0', '1', '0', '0', '0', '1', '0', '0', '0'],
      dtype=object)

In [ ]:
print(accuracy_score(y_pred, y_test))

0.3116883116883117